<div class="container project-page-container">
  <h1 class="page-title">Current Work</h1>

  <!-- Project Summaries Section -->
  <section class="project-summaries">
    <!-- Project 1 -->
    <div class="project-summary-item">
      <div class="project-summary-image">
        <img src="/assets/npoint-05.png" alt="Exo Control Optimization">
      </div>
      <div class="project-summary-content">
        <h3 class="project-summary-title">Exo Control Optimization</h3>
        <p class="project-summary-description">
          I am working on developing a simulation-based approach to optimize exoskeleton controllers. Using neuromechanical simulations in MyoSuite, I'm systematically evaluating whether the widely-used four-parameter ankle exoskeleton controller is optimal or if alternative parameter structures could achieve greater energy reduction.
        </p>
      </div>
    </div>
    <!-- Project 2 -->
    <div class="project-summary-item">
      <div class="project-summary-image">
        <img src="/assets/myoassist.png" alt="MyoAssist Project">
      </div>
      <div class="project-summary-content">
        <h3 class="project-summary-title">MyoAssist</h3>
        <p class="project-summary-description">
          I am an active developer of and contributor to MyoAssist, which is an open-source simulation platform that accelerates the development of assistive technologies like prosthetics and exoskeletons by modeling human-device interactions. Built within the MyoSuite framework, it provides researchers with ready-to-use simulation environments combining detailed musculoskeletal models with assistive devices, along with machine learning tools for developing advanced control strategies.
        </p>
      </div>
    </div>
  </section>
</div> 