---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---

<ProjectLayout 
  title="Current Work" 
  description="A summary of current work."
  projectTheme="yellow"
>
  <div class="container">
    <h1>Current Work</h1>
    <p>This page is under construction. Content coming soon!</p>
  </div>
</ProjectLayout> 