---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---

<ProjectLayout 
  title="Papers and Presentations" 
  description="A collection of papers and presentations."
  projectTheme="blue"
>
  <div class="container">
    <h1>Papers and Presentations</h1>
    <p>This page is under construction. Content coming soon!</p>
  </div>
</ProjectLayout> 