---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---

<ProjectLayout 
  title="Previous Work" 
  description="A summary of previous work."
  projectTheme="red"
>
  <div class="container">
    <h1>Previous Work</h1>
    <p>This page is under construction. Content coming soon!</p>
  </div>
</ProjectLayout> 